In [51]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:myd0gJak3*@localhost/books"

![png](http://localhost:8896/edit/favorite%20books.mwb)

In [52]:
engine= create_engine(connection_str)

In [53]:
if database_exists(connection_str) == True:
    print("data base already exists")
else:
    create_database(connection_str)

data base already exists

In [54]:
users_url = "https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users"
users = pd.read_csv(users_url)
users.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [55]:
users.to_sql('users', engine, index=False, if_exists = 'replace')

3

In [56]:
books_url = "https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books"
books = pd.read_csv(books_url)
books.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [57]:
books.to_sql('books', engine, index=False, if_exists = 'replace')

6

In [66]:
authors_url= "https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=authors"
authors = pd.read_csv(authors_url)
authors.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [67]:
authors.to_sql('authors', engine, index=False, if_exists = 'replace')

5

In [68]:
favorites_url = "https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite"
favorites = pd.read_csv(favorites_url)
favorites.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [69]:
favorites.to_sql('favorites', engine, index=False, if_exists = 'replace')

7

SyntaxError: invalid syntax (2660799858.py, line 1)

SyntaxError: invalid syntax (3137837232.py, line 1)

NameError: name 'df' is not defined