In [10]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:myd0gJak3*@localhost/books.csv"

In [11]:
engine= create_engine(connection_str)

In [12]:
create_database(connection_str)

In [15]:
import pandas as pd
df= pd.read_csv('books.csv')
df.head()

,First Name,Last Name,Email,Book Title,Book Author
0,John,Doe,JD@books.com,The Shining,Stephen King
1,John,Doe,JD@books.com,It,Stephen King
2,John,Doe,JD@books.com,The Great Gatsby,F. Scott Fitzgerald
3,Robin,Smith,Robin@books.com,The Call of the Wild,Jack London
4,Robin,Smith,Robin@books.com,Pride and Prejudice,Jane Austen

In [16]:
df.to_sql('books', engine, if_exists = 'replace')

7